---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     16px;

/*$text-color:       #000F1E;*/
$text-color:	   #043458;
$nav-text-color:   #DD0000;
$nav-border-color: #DD0000;
//$background-color: #fdfdfd;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$splash-border-width: 8px;
$header-height:    60px;
$mobile-header-height: 50px;
$header-border-width: 2px;
/*$header-background-color: #B0D2D3;*/
/*$lighter-header-background-color: #D1E5E5;*/
$header-background-color: #043458;
$lighter-header-background-color: #FFFFFF;
$image-link-background-color: #B0D2D3;

$page-link-font-size: 22px;

// Width of the content area
$content-width:    780px;

$header-width:	   790px;
$on-palm:          925px;
$on-laptop:        790px;


$footer-height: 30px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}	

@mixin iPhone6s {
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	{
	    @content;
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
