---
layout: default
title: Moving your pet from the US to the UK
excerpt: Ex-Pat Pup provides resources and information to move your pet from the US to the UK on your own with ease
---

<div class="home">
	<div class="splash-wrapper">
		<div class="splash">
			<img id="dog_cat_splash" src="/assets/img/dog_cat_suitcase_splash.png"/>

			<div>
				<h1>Moving from the US to the UK?</h1>
				Don't leave your beloved pet at home! Learn how you can bring your pet with absolutely no quarantine!

				<a id="guide_link_splash" href="/step-by-step-walkthrough">GO TO THE STEP-BY-STEP GUIDE</a>
			</div>
		</div>
	</div>
	<div class="image-link-wrapper">
		<div class="image-link-container">
			{% for page in site.pages %}
				{% if page.frontLinkImage != None %}
					<a class="image-link" href="{{ page.url }}">
						<div>{{ page.title }}</div>
						<img src="/assets/img/{{ page.frontLinkImage }}" style="width: 200px; height: 200px;"/>
				</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
