/**
 * Site header
 */
.site-header {
    border-bottom: $header-border-width solid $nav-text-color;
    height: $header-height;

    @include iPhone6s {
        height: $mobile-header-height;
    }
    // Positioning context for the mobile navigation icon
    position: relative;

    z-index: 10;
}

.twitter-share-container, .facebook-share-container {
    position: absolute;
    left: 9px; 
    margin-top: $header-height + 12;
}

.facebook-share-container {
    left: 11px; 
    margin-top: $header-height + 36;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    float: left;

    display: block;
    background: url("/assets/img/expatpupLogoDesktop.png");
    background-repeat: no-repeat;
    background-size: (($header-height+1)*1.75) (($header-height+1)*1);
    width: ($header-height) * 1.75;
    height: $header-height; 
    position: absolute;
    left: 0;
    top: 0;

    @include iPhone6s {
        background-size: (($mobile-header-height+1)*1.75) (($mobile-header-height+1)*1);
        width: ($mobile-header-height) * 1.75;
        height: $mobile-header-height; 
    }

    img {
 //       width: ($header-height + 1) * 1.75;
   //     height: $header-height + 1; 
        width: 100%;
        height: 100%; 
        margin: 0;
        padding: 0;
//        position: absolute;
  //      left: 0;
    //    top: 0;
    }    
}

.site-nav {
    float: right;
    line-height: $header-height;
    vertical-align: middle;
    margin-right: -44px;


    .menu-icon {
        display: none;
    }

    .trigger {
        display: inline-block;
    }

    .page-link {
        color: $nav-text-color;
        line-height: $base-line-height;

        font-size: 26px;
        font-weight: 100;
        margin-top: 10px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-group {
        display: inline-block;
        position: relative;
        font-family: helvetica;
        margin-top: 5px;
    }

    .site-nav-children {
        display: none;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;

        top: 64px;
        right: 14px;
        background-color: $background-color;
    }

    .site-nav-child {
        text-decoration: none;
        line-height: 24px;  
        white-space: nowrap;
        margin: 0;
        padding: 0;
        padding-left: 6px;
        padding-right: 6px;
    }

    .page-group:hover .site-nav-children  {
        display: inline-block;
    }

    .page-group a {
        color: $nav-text-color;
    }

    @include iPhone6s {
        line-height: 60px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 32px;
        right: 380px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        @include iPhone6s {
            top: 16px;
        }

        .menu-icon {
            display: inline-block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        &:hover .trigger .page-group {
            display: block;
        }

        &:hover .trigger .site-nav-children {
            display: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 10px;
        }

    }
}

/**
 * Site footer
 */
body .site-footer {
    border-top: 1px solid $nav-border-color;
    margin-top: 0px;
    padding: $spacing-unit 0;
    background-color: $header-background-color;
    height: $footer-height;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.site-header #tipue_search_input {
    padding: 3px;
    padding-left: 26px;
    background: #fff url('/assets/src/tipuesearch/img/search.png') no-repeat 6px 6px;
    display: inline-block;
    border: 1px solid red;
    width: 100px;
}

form
{
    float: right;
    display: inline-block;
    line-height: 96px;

    margin-right: -180px;

    @include iPhone6s {
        line-height: $mobile-header-height;
    }

    @include media-query($on-palm) {        
        padding-right: 60px;
        clear: right;
    }
}

#dog_cat_splash
{
    width: 250px * 1.02;
    height: 250px;
    float: right;
    vertical-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;

    @include iPhone6s {
      width: 150px * 1.02;
      height: 150px;
    }
}

.banner-image
{
//    width: 250px * 1.02;
    height: 100px;
    min-width: 100 * 1.6px;
    float: left;
    vertical-align: center;
    margin: 20px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    display: inline-block;

    @include iPhone6s {
      width: 150px * 1.02;
      height: 150px;
    }
}


.page-content
{
    background-color: $background-color;
    font-family: helvetica;
    font-size: 18px;
}

.page-content h1
{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#guide_link_splash
{
    background-color: #FF0000;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 21px;
     @include iPhone6s {
           margin-top: 15px;
     }
}

.home .splash-wrapper
{
    position: absolute;
    top: $header-height; 
    left: 0;
    right: 0;
    background-color: $header-background-color;
    border-bottom: 1px solid $nav-border-color;

    @include iPhone6s {
        top: $mobile-header-height;
    }
}

.splash, .splash-post, .tiled-splash
{
    width: $content-width;
    margin: 0 auto;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

    @include iPhone6s {
        width: 350px;
        padding: 10px;
        padding-top: 16px;
    }
}

.tiled-splash {
    width: 660px;
}

.splash p {
    max-width: 650px;
}

.splash-post
{
    width: $content-width - $spacing-unit * 2;
}

#splash_text
{
    border: 1px solid green;
}
div.nav-wrapper
{
    text-align: right;    
}

.home .image-link {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    float: left;
    color: white;
    width: 200px;
    display: block;
    border: 1px solid #003366;
    background-color: $header-background-color;

    div {
        min-height: 54px;
        padding: 8px;
        font-weight: bold;
        background-color: #003366;
    }

    @include iPhone6s {
        width: 44%;
        margin: 2%; 
        padding: 0;
    }
}

.image-link-wrapper {
    margin: 0;
    padding: 0;
//    position: absolute;
  //  left: 0; 
   // right: 0;
//    top: $header-height + 336;
  //  height: 1084px;

    @include iPhone6s {
        top: $mobile-header-height + 336;
        height: 1390px;
    }
}

.image-link-container {
    position: relative;
    width: 680px;
    margin: 0 auto;
    padding: 0;
    clear: both;

    @include iPhone6s {
        width: 100%;
        padding: 1%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.bold-list {
    font-weight: bold;

    .subscript {
        font-weight: normal; 
        font-size: 16px;
    }
}
