/**
 * Site header
 */
.site-header {
    border-bottom: $header-border-width solid $nav-text-color;
    height: $header-height;

    @include iPhone6s {
        height: $mobile-header-height;
    }
    // Positioning context for the mobile navigation icon
    /*position: relative;*/

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: $header-height;
    background-color: $lighter-header-background-color;

    z-index: 10;
}

.share-link-wrapper {
    position: absolute;
/*    bottom: 0px;
*/    top: 7px;
      right: 9px; 

    @include iPhone6s {
        top: 14px;
        display: none;
    }

}

.twitter-share-container, .facebook-share-container {
    margin-top: 12;
}
.facebook-share-container {
    margin-left: 2px; 
}

.featured-pages-text {
    border-bottom: 2px solid $text-color;
    line-height: 4px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-right: 4%;
    span {
        font-family: helvetica;
        font-weight: lighter;
        font-size: 24px;

        text-align: center;
        width: 100%;
        background-color: $background-color;
        padding: 8px;
    }
}

.sequence-link:before {
    content:"";
    display:block;
    height: $header-height; /* fixed header height*/
    margin:-$header-height 0 0; /* negative fixed header height */
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
    float: left;

    display: block;
    background: url("/assets/img/expatpupLogoDesktop.png");
    background-repeat: no-repeat;
    background-size: (($header-height+1)*1.75) (($header-height+1)*1);
    width: ($header-height) * 1.75;
    height: $header-height; 
    position: absolute;
    left: 0;
    top: 0;

    @include iPhone6s {
        background-size: (($mobile-header-height+1)*1.75) (($mobile-header-height+1)*1);
        width: ($mobile-header-height) * 1.75;
        height: $mobile-header-height; 
    }

    img {
 //       width: ($header-height + 1) * 1.75;
   //     height: $header-height + 1; 
        width: 100%;
        height: 100%; 
        margin: 0;
        padding: 0;
//        position: absolute;
  //      left: 0;
    //    top: 0;
    }    
}

.site-nav {
    float: right;
    line-height: $header-height;
    vertical-align: middle;
    margin-right: -44px;


    .menu-icon {
        display: none;
    }

    .trigger {
        display: inline-block;
    }

    .page-link {
        color: $nav-text-color;
        line-height: $base-line-height;

        font-size: $page-link-font-size;
        font-weight: 100;
        margin-top: 10px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-group {
        display: inline-block;
        position: relative;
        font-family: helvetica;
        margin-top: 5px;
    }

    .site-nav-children {
        display: none;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;

        top: $header-height * .75;
        right: 14px;
        background-color: $background-color;
    }

    .site-nav-child {
        text-decoration: none;
        line-height: 24px;  
        white-space: nowrap;
        margin: 0;
        padding: 0;
        padding-left: 6px;
        padding-right: 6px;
    }

    .page-group:hover .site-nav-children  {
        display: inline-block;
    }

    .page-group a {
        color: $nav-text-color;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 12px;
        right: 380px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        @include iPhone6s {
            top: 7px;
            right: 200px;
        }

        .menu-icon {
            display: inline-block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        &:hover .trigger .page-group, &:hover .trigger .page-link {
            line-height: 25px;
            margin: 0;
            padding: 4 0;
        }

        &:hover .trigger .page-group {
            display: block;
        }

        &:hover .trigger .site-nav-children {
            display: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 10px;
        }

    }
}

/**
 * Site footer
 */
body .site-footer {
    border-top: 1px solid $nav-border-color;
    margin-top: 0px;
    padding: $spacing-unit 0;
    background-color: $header-background-color;
    height: $footer-height;

    line-height: 26px;

    @include iPhone6s {
        line-height: 6px;
    }

    .footer-heading {
        /*font-size: 18px;*/
        margin-bottom: $spacing-unit / 2;
        position: absolute;
        left: 0px;
        color: $image-link-background-color;

        @include iPhone6s {
            left: 6px;
        }
    }

    a {
        color: $image-link-background-color;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.contact-list {
    margin: 0px;
    padding: 0px;
    width: 300px;

    position: absolute;
    right: 0px;

    li {
        display: inline;
        margin-left: 15px;

        @include iPhone6s {
            margin-left: 6px;
        }
    }

}

.footer-col-wrapper {
/*    position: absolute;
    right: 120px;
*/    


    font-size: 15px;
    color: $background-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

    @include iPhone6s {
        right: 12px;
    }
}

.footer-col {
    float: left;
    position: relative;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));

    float: right;
    position: relative;
    text-align: right;
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    /*padding: $spacing-unit 0;*/
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    position: relative;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.site-header #tipue_search_input {
    padding: 3px;
    padding-left: 26px;
    background: #fff url('/assets/src/tipuesearch/img/search.png') no-repeat 6px 6px;
    display: inline-block;
    border: 1px solid red;
    width: 100px;
}

.search-form
{
    float: right;
    display: inline-block;
    line-height: $header-height;
    margin-right: -180px;

    @include iPhone6s {
        /*clear: right;*/
        line-height: $mobile-header-height;
        /*margin-right: -150px;*/
/*        position: absolute;
        right: 10px;
        margin: 0px;
*/        margin-right: -345px;
    }

    @include media-query($on-palm) {        
        padding-right: 60px;
        clear: right;
    }
}

.dog-cat-front-page
{
    width: 250px * 1.02;
    min-height: 250px;
    float: right;
    vertical-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;

    @include iPhone6s {
      width: 150px * 1.02;
      min-height: 150px;
/*      position: absolute;
      right: 20px;
*/    }
}

.banner-image
{
    width: 100 * 1.6px;
    min-height: 100px;
    float: left;
    vertical-align: center;
    margin: 20px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    display: inline-block;

    /*border: 1px solid #003366;*/

    @include iPhone6s {
        margin: 10px;
        min-height: 30px;
        width: 50 * 1.6px;
    }
}


.page-content
{
    background-color: $background-color;
    font-family: helvetica;
    //font-family: times;
    font-size: 18px;
}

.page-content h1
{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#guide_link_splash
{
    background-color: #FF0000;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    font-size: 20px;
    /*position: absolute;*/
    /*bottom: 21px;*/
     @include iPhone6s {
        //margin-top: 15px;

     }
}

.home .splash-wrapper
{
    position: absolute;
    top: $header-height; 
    left: 0;
    right: 0;
    background-color: $header-background-color;
    border-bottom: $splash-border-width solid $nav-border-color;

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    p {
        font-family: Georgia;
        font-size: 34px;
    }

    @include iPhone6s {
        top: $mobile-header-height;
    }
}

.splash, .splash-post, .tiled-splash
{
    margin: 0 auto;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

    @include iPhone6s {
        width: 350px;
        padding: 10px;
        padding-top: 16px;
    }
}

.tiled-splash {
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 760px;

    @include iPhone6s {
        width: 350px;
        padding: 10px;
        padding-top: 16px;
    }
}

#splash_text
{
    border: 1px solid green;
}
div.nav-wrapper
{
    text-align: right;    
}

.image-link-wrapper {
    position: relative;
    /*width: 680px;*/
    width: $content-width;
    height: 100%;
    margin: 0 auto;
    margin-top: -24px;
    padding: 0;
    float: left;
    /*clear: both;*/

    @include iPhone6s {
        width: auto;
        margin-top: -24px;
    }

    .image-link-group {
        position: relative;
        float: left;
/*        width: 48%;
        margin-right: 2%;*/
        display: block;
        margin-bottom: 12px;
    }

    p {
        font-family: helvetica;
        font-weight: lighter;
        font-size: 24px;
    }


    .image-link-container {
        margin: 0px;
        margin-bottom: 14px;
        float: left;
        height: 260px;

        width: 46%;
        margin-right: 4%;

        display: block;

        font-family: Georgia;

        /*border: 1px solid #003366;*/
        background-color: $lighter-header-background-color;
        position: relative;

        @include iPhone6s {
            /*margin: 5px;*/
            width: 100%;
            margin: 0px;
            margin-bottom: 8px;
            height: auto;
            clear: both;
        }

        p {
            font-family: Georgia;
            font-size: 18px;
        }

        .image-link {
            width: 100%;
            display: inline-block;

            @include iPhone6s {
                margin-right: 8px;
            }   

            img {
                min-height: 128px;
                width: 120px;
                float: right;

                @include iPhone6s {
                    min-height: 96px;
                    width: 90px;
                }
            }

            .image-link-header {
                float: right;
                background-color: $image-link-background-color;
                display: block;
                width: 100%;
                height: 100%;
            }

            .article-title {
                font-family: helvetica;
                min-height: 26px;
                padding: 0px;
                padding-top: 12px;
                font-weight: bold;
                font-size: 22px;
                /*background-color: #003366;*/
                /*clear: both;*/
            }    


        }

        .image-link-footer {
            clear: left;
        }
    }
}


.bold-list {
    font-weight: bold;

    .subscript {
        font-weight: normal; 
        font-size: 16px;
    }
}

/*object {
    @include iPhone6s {
        width: 100%;
        height: 100%;
    }
}*/
