---
layout: default
---

<div class="home">
	<div class="splash-wrapper">
		{% if page.url == "/" or page.group != None %}
		<div class="tiled-splash">
		{% else %}
		<div class="tiled-splash">
		<!-- <div class="splash"> -->
		{% endif %}
			<div>
				{% if page.articleTitle %}
				<h1>{{ page.articleTitle }}</h1>
				{% else %}
				<h1>{{ page.title }}</h1>
				{% endif %}
				<p>
				{% if page.articleExcerpt %}
				{{ page.articleExcerpt }}
				{% else %}
				{{ page.excerpt }}
				{% endif %}
				</p>
			</div>
		</div>
	</div>

	<div class="post-content">
	{{ content }}
	</div>

</div>