---
layout: default
title: Moving your pet from the US to the UK
excerpt: Ex-Pat Pup provides resources and information to move your pet from the US to the UK on your own with ease
---

<div class="home">
	<div class="splash-wrapper">
		{% if page.url == "/" or page.group != None %}
		<div class="tiled-splash">
		{% else %}
		<div class="splash">
		{% endif %}
			{% if page.bannerImage %}
			{% if page.url == "/" %}
			<img id="dog_cat_splash" src="/assets/img/{{ page.bannerImage }}"/>
			{% else %}
			<img class="banner-image" src="/assets/img/{{ page.bannerImage }}"/>
			{% endif %}
			{% endif %}
			<div>
				{% if page.articleTitle %}
				<h1>{{ page.articleTitle }}</h1>
				{% else %}
				<h1>{{ page.title }}</h1>
				{% endif %}
				<p>
				{% if page.articleExcerpt %}
				{{ page.articleExcerpt }}
				{% else %}
				{{ page.excerpt }}
				{% endif %}
				</p>
			{% if page.url == "/" %}
				<a id="guide_link_splash" href="/step-by-step-walkthrough">GO TO THE STEP-BY-STEP GUIDE</a>
			{% endif %}
			</div>
		</div>
	</div>

	<div class="post-content">
	{{ content }}
	</div>

</div>

<script type="text/javascript">
$(".page-content").css("margin-top", $(".splash-wrapper").height() + "px");
</script>
