<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="page-content" class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
     <script type="text/javascript">
     //anchor footer at bottom of page if content is too short
      if ($(window).height() >= $(document).height()) {
          $(".site-footer").css("position", "absolute")
          $(".site-footer").css("left", "0px")
          $(".site-footer").css("right", "0px")
          $(".site-footer").css("bottom", "0px")
      }
     </script>

  </body>

</html>
