---
layout: bannerPage
---
<br>
<div class="image-link-wrapper">
	{% assign lowerTitle = page.title | downcase %}
	{% for collection in site.collections %}
		{% if collection.label == lowerTitle %}
			<div class="image-link-column">
			{% assign sorted_pages = collection.docs | sort:"frontLinkOrder" %}
			{% for doc in sorted_pages %}

				{% if doc.frontLinkImage != None %}
					<div class="image-link-container">
						<a class="image-link" href="{{ doc.url }}">
							<div class="image-link-header">
								<img src="/assets/img/{{ doc.frontLinkImage }}"/>
							</div>
							<div class="article-title">{{ doc.title }}</div>
						</a>
						<p>{{ doc.excerpt | truncate: 128 }}</p>	
					</div>
				{% endif %}

			{% endfor %}

			</div>

		{% endif %}
	{% endfor %}
</div>

